@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerBlack.eot');
    src: url('../fonts/subset-MullerBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerBlack.woff2') format('woff2'),
        url('../fonts/subset-MullerBlack.woff') format('woff'),
        url('../fonts/subset-MullerBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerBlackItalic.eot');
    src: url('../fonts/subset-MullerBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerBlackItalic.woff2') format('woff2'),
        url('../fonts/subset-MullerBlackItalic.woff') format('woff'),
        url('../fonts/subset-MullerBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AlphaHeadline';
    src: url('../fonts/subset-AlphaHeadline.eot');
    src: url('../fonts/subset-AlphaHeadline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-AlphaHeadline.woff2') format('woff2'),
        url('../fonts/subset-AlphaHeadline.woff') format('woff'),
        url('../fonts/subset-AlphaHeadline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerBold.eot');
    src: url('../fonts/subset-MullerBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerBold.woff2') format('woff2'),
        url('../fonts/subset-MullerBold.woff') format('woff'),
        url('../fonts/subset-MullerBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerExtraBold.eot');
    src: url('../fonts/subset-MullerExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerExtraBold.woff2') format('woff2'),
        url('../fonts/subset-MullerExtraBold.woff') format('woff'),
        url('../fonts/subset-MullerExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller Hairline';
    src: url('../fonts/subset-MullerHairline.eot');
    src: url('../fonts/subset-MullerHairline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerHairline.woff2') format('woff2'),
        url('../fonts/subset-MullerHairline.woff') format('woff'),
        url('../fonts/subset-MullerHairline.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerBoldItalic.eot');
    src: url('../fonts/subset-MullerBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerBoldItalic.woff2') format('woff2'),
        url('../fonts/subset-MullerBoldItalic.woff') format('woff'),
        url('../fonts/subset-MullerBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerHeavy.eot');
    src: url('../fonts/subset-MullerHeavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerHeavy.woff2') format('woff2'),
        url('../fonts/subset-MullerHeavy.woff') format('woff'),
        url('../fonts/subset-MullerHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerExtraBoldItalic.eot');
    src: url('../fonts/subset-MullerExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/subset-MullerExtraBoldItalic.woff') format('woff'),
        url('../fonts/subset-MullerExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muller Hairline';
    src: url('../fonts/subset-MullerHairlineItalic.eot');
    src: url('../fonts/subset-MullerHairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerHairlineItalic.woff2') format('woff2'),
        url('../fonts/subset-MullerHairlineItalic.woff') format('woff'),
        url('../fonts/subset-MullerHairlineItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerThinItalic.eot');
    src: url('../fonts/subset-MullerThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerThinItalic.woff2') format('woff2'),
        url('../fonts/subset-MullerThinItalic.woff') format('woff'),
        url('../fonts/subset-MullerThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerMediumItalic.eot');
    src: url('../fonts/subset-MullerMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerMediumItalic.woff2') format('woff2'),
        url('../fonts/subset-MullerMediumItalic.woff') format('woff'),
        url('../fonts/subset-MullerMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerHeavyItalic.eot');
    src: url('../fonts/subset-MullerHeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerHeavyItalic.woff2') format('woff2'),
        url('../fonts/subset-MullerHeavyItalic.woff') format('woff'),
        url('../fonts/subset-MullerHeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerThin.eot');
    src: url('../fonts/subset-MullerThin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerThin.woff2') format('woff2'),
        url('../fonts/subset-MullerThin.woff') format('woff'),
        url('../fonts/subset-MullerThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerRegular.eot');
    src: url('../fonts/subset-MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerRegular.woff2') format('woff2'),
        url('../fonts/subset-MullerRegular.woff') format('woff'),
        url('../fonts/subset-MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller Regular';
    src: url('../fonts/subset-MullerRegularItalic.eot');
    src: url('../fonts/subset-MullerRegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerRegularItalic.woff2') format('woff2'),
        url('../fonts/subset-MullerRegularItalic.woff') format('woff'),
        url('../fonts/subset-MullerRegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerMedium.eot');
    src: url('../fonts/subset-MullerMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerMedium.woff2') format('woff2'),
        url('../fonts/subset-MullerMedium.woff') format('woff'),
        url('../fonts/subset-MullerMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerUltraLight.eot');
    src: url('../fonts/subset-MullerUltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerUltraLight.woff2') format('woff2'),
        url('../fonts/subset-MullerUltraLight.woff') format('woff'),
        url('../fonts/subset-MullerUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/subset-MullerUltraLightItalic.eot');
    src: url('../fonts/subset-MullerUltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-MullerUltraLightItalic.woff2') format('woff2'),
        url('../fonts/subset-MullerUltraLightItalic.woff') format('woff'),
        url('../fonts/subset-MullerUltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

